%h2 ユーザー新規登録
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :お名前（フルネーム）
    %br/
    = f.text_field :name
  .field
    = f.label :電話番号
    %em
      (数字の間に ’ー’ は必要ありません)
    %br/
    = f.number_field :tellnumber
  .field
    = f.label :住所
    %br/
    = f.text_field :address, size: 40
  .field
    = f.label :emailアドレス
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :パスワード
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} 文字以上)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :パスワードの確認
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit "登録する"
= render "devise/shared/links"
